<div class="component__inner moralMachine__inner">
	
    {{> component this}}
		
	<container id="container" class="container">
		
		<game>
			<div id="background-left" class="background left">
				<img id="scenario-left" scenario="1" src="{{left-img}}"/>
			</div>
			<div id="background-right" class="background right">
				<img id="scenario-right" scenario="1" src="{{right-img}}"/>
			</div>
		</game>
	<section>

		</section>
		<section id="credits" class="credits">
				This experiment is derived from the <a href="https://www.moralmachine.net/" target="_blank">MIT Moral Machine</a>. Currently no data is collected from your interactions.
		</section>
	</container>
	</div>