<div class="component__inner moralMachine__inner">
    {{> component this}}
	<container id="container" class="contatiner">
		<game>
			<div id="background-left" class="background left">
				<img id="left" scenario="1" src="../../../course/en/assets/moralMachine/scenarios/1-l.png"/>
			</div>
			<div id="background-right" class="background right">
				<img id="right" scenario="1" src="../../../course/en/assets/moralMachine/scenarios/1-r.png"/>
			</div>
		</game>
	<section>
			<sub-section class="left-50">
				
			</sub-section>
			<div id="padding" class="padding"></div>
			<sub-section class="right-50">
			
			</sub-section>
		</section>
		<section id="credits" class="credits">
				This experiment is derived from the <a href="https://www.moralmachine.net/" target="_blank">MIT Moral Machine</a>. Currently no data is collected from your interactions.
			</div>

		</section>
	</container>



